.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: var(--space-3xl);
}

.title {
  display: inline-block;
  font-size: var(--text-lg);
  margin-bottom: var(--space-xs);
  margin-top: var(--space-lg);
  border-bottom: 1.5px solid transparent;
}

.link {
  text-decoration: none;
}

.link:hover .title {
  border-bottom-color: var(--primary);
}

.meta {
  display: flex;
  justify-content: space-between;
}

.imagelink {
  position: relative;
  cursor: pointer;
}

.tapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.4s ease;
  color: black;
}

.tapa > * {
  text-align: center;
  margin: 0;
  font-size: 16px;
}

.tapa > h2 {
  font-size: 18px;
  font-weight: 800;
}

.tapa:hover {
  opacity: 0.95;
}
